<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <div class="row">
      <img src="https://placehold.it/2000x750&amp;text=1st">
    </div>
    
    <div class="row">
      <div class="column large-3">
        <h1>Cart</h1>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x200">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>
            $400 <input type="number" value="20" /><a href="#" class="button">Update</a>
          </p>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x200">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>
            $400 <input type="number" value="20" /><a href="#" class="button">Update</a>
          </p>
          
        </div>
      </div>
      <div class="column large-9 small-up-2 large-up-3">
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x400">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>$400</p>
          <a href="#" class="button expanded">Buy</a>
        </div>
      </div>

    </div>
  </body>
</html>
