<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/style.css">
  <title>SNAIL EXPRESS</title>
</head>
<header>
    <h1> SNAIL EXPRESS </h1>
</header>

<body>
  <div class="container">
    <h2>Sign In</h2>
    <form action="/login" method="POST">
      <label for="email"> Email:</label>
      <input id="email" type="email" name="email" placeholder="email"/>
      <label for="password"> Password:</label>
      <input id="password" type="password" name="password" placeholder="password"/>
      <input type="submit" value="Sign in">
    </form>
    <div class="register">New to Snail Express? <a href="/register">Create Account</a></div>
  </div>
</body>

</html>
