<html lang="en">
<%- include("partials/_head") %>
<header class="text-center">
    <h1> Order Status </h1>
</header>

<body>
  <div class="row">
    <div class="column large-7">
      <div class="progress-bar" style="margin: 10rem 0;"></div>
      <script>
        $(document).ready(function() {
          var bar = createProgressBar('.progress-bar',
            new Date(<%= order.start_timestamp.getTime() %>),
            new Date(<%= order.time_to_complete.getTime() %>));
        })
      </script>
      <div class="row">
        <div class="medium-6 column">
          <img src="https://www.google.com/permissions/images/maps-att.png" />
        </div>
        <addr class="medium-6 column">
          (725) 352-3267<br />
          Nicholas Desmond Simon Graham<br />
          PO Box 1230<br />
          Georgetown<br />
          Grand Cayman<br />
          CAYMAN ISLANDS - UK
        </addr>
      </div>
    </div>

    <div class="column large-5">
      <p>To save your favourites, create a new account!</p>
      <button class="large expanded button">Sign Up</button>

      <form>
        <label>
          Username
          <input type="text" placeholder="Username" />
        </label>
        <label>
          Password
          <input type="text" placeholder="Password" />
        </label>
        <button type="submit" class="expanded button">Sign Up</button>
      </form>

    </div>
  </div>
</body>

</html>
