<html lang="en">
<%- include("partials/_head") %>

<body>
  <div class="row">
    <div class="container large-6 large-offset-3 columns">
      <h2>New Member Registration</h2>
      <form action="/register" method="POST">
        <% for (var i=0; i < messages.length; i++) { %>
            <div class="alert callout"><%= messages[i] %></div>
        <% } %>
        <label for="name"> Full Name</label>
        <input id="name" type="text" name="name" placeholder="Full Name"/>
        <label for="email"> Email</label>
        <input id="email" type="email" name="email" placeholder="Email"/>
        <label for="password"> Password</label>
        <input id="password" type="password" name="password" placeholder="Password"/>
        <input class="expanded button" type="submit" value="Sign Up">
      </form>
    </div>
  </div>
</body>

</html>
