<html lang="en">
<%- include("partials/_head") %>
<header class="text-center">
    <h1> SNAIL EXPRESS </h1>
</header>

<body>
  <div class="row">
    <div class="container large-6 large-offset-3 columns">
      <h2>New Member Registration</h2>
      <form action="/login" method="POST">
        <label for="email"> Email:</label>
        <input id="email" type="email" name="email" placeholder="email"/>
        <label for="password"> Password:</label>
        <input id="password" type="password" name="password" placeholder="password"/>
        <input class="expanded button" type="submit" value="Register">
      </form>
  </div>
</body>

</html>
