@import 'settings';
@import 'foundation';
@import 'spinner';

@include foundation-everything;
@include add-foundation-colors;

.button {
  border: 1px solid #727883 !important;
  font-family: $body-font-family;
}

.logo {
    font-size: 22px;
    color: black;
    &:hover, &:visited {
        color: black;
    }
}

table {
  border-collapse: collapse;
  display: table;
  border: 1px solid #666b76;

  thead {
    background: #F9F9F9;
    border-bottom: 1px solid #666b76;
  }

  th, td {
    border: 1px solid #666b76;
    text-align: center !important;
  }

  tbody {
    td {
      background: white;
    }
  }

  .orders {
    cursor: pointer;
  }
}

#inventory .item-inner {
  border: 1px solid $light-gray;
  padding: 10px;
  margin-bottom: 5px;

  &:hover {
    border: 1px solid scale-color($light-gray, $lightness: -10%);;
  }
}

.main-img {
  border: 1px solid $light-gray;
  padding: 10px;
}

.index-inventory {
  margin-top: 15px;

  #cart {
    border: 1px solid $light-gray;
    padding: 5px 30px;

    input {
      width: 50px;
    }
  }

}

.order-items {
  list-style-type: none;
  border: 1px solid #666b76;
  padding: 10px;

  .item-id {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.cart {
  .preview {
    margin-bottom: 0;
    margin-right: 1rem;
    max-height: 100px;
  }
}

.callout {
  border: 1px solid #666b76;
}

img.preview {
  max-height: 150px;
}

.progress-bar {
  position: relative;
  margin: 150px 60px;
  .bar-icon {
    img {
      max-width: 100px;
    }
    transform: translateX(-50%) translateY(-100%);
    position: absolute;
    display: inline-block;
    &.min1, &.min2, &.min3, &.min4, &.min5, &.min6 {
      &::after {
        content: "?";
        font-weight: bold;
        display: inline-block;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        right: 0;
        transform: translateX(70%) translateY(50%);
      }
    }
    
    &.min2::after {
      font-size: 120%;
    }
    &.min3::after {
      font-size: 170%;
    }
    &.min4::after {
      font-size: 220%;
    }
    &.min5::after {
      font-size: 300%;
    }
    &.min6::after {
      content: "!!!";
      font-size: 300%;
    }
  }
  
  .bar-container {
    background: #DDD;
    border-radius: 7px;
  }
  
  .bar {
    background-color: $success-color;
    height: 14px;
    border-radius: 7px;
    display: inline-block;
    &.alert {
      background-color: $alert-color;
    }
    &.info {
      background-color: $secondary-color;
    }
    &.warning {
      background-color: $warning-color;
    }
    &.success {
      background-color: $success-color;
    }
  }
  .bar-description {
    text-align: center;
    font-size: 150%;
    
    &.alert {
      color: $alert-color;
    }
    &.info {
      color: $secondary-color;
    }
    &.warning {
      color: $warning-color;
    }
    &.success {
      color: $body-font-color;
    }
  }
  
}